.splash {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 10;
  background-color: white;
}

.splash #logoContainer {
  height: 30vh;
  width: 30vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
}

.splash #logo {
  display: block;
  width: auto;
  height: 100%;
}

.introDialog {
  position: relative;
  top: 5vh;
  width: 100vw;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

#webcam {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 20;
}

.stage {
  position: static;
  height: 63vh;
}

#broadcaster {
  position: static;
  float: left;
  width: 40vw;
  height: 100%;
}

#options {
  display: inline-block;
  width: 58vw;
  height: 100%;
}

#imageContainer img {
  width: 100%;
}

.message {
  height: 20px;
}

.votebar {
  position: relative;
  margin-top: 5%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#guess {
  position: relative;
  top: 10px;
  left: 10%;
}

#guess input {
  width: 50%;
}

.controls {
  position: relative;
  top: 10px;
  left: 10%;
}

.audience {
  height: 35vh;
  flex-direction: row;
}
