.splash {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 10;
  background-color: white;
}

.splash #logoContainer {
  height: 30vh;
  width: 30vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
}

.splash #logo {
  display: block;
  width: auto;
  height: 100%;
}

.introDialog {
  position: relative;
  top: 60vh;
  width: 100vw;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}
.stage {
  position: static;
  height: 50vh;
}

#broadcaster {
  position: static;
  float: left;
  width: 40vw;
  height: 100%;
  background-color: red;
}

#options {
  display: inline-block;
  width: 58vw;
  height: 100%;
  background-color: yellow;
}

.audience {
  height: 50vh;
  background-color: blue;
}
